/* Botão de Adicionar na capa da música */
.add-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    background: var(--accent);
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    opacity: 0;
    transition: 0.3s;
    z-index: 10;
}

.music-card:hover .add-btn {
    opacity: 1;
}

/* Ícone de lixo na playlist */
.trash-icon {
    margin-left: auto;
    font-size: 12px;
    opacity: 0.3;
    transition: 0.3s;
}

.user-playlist-item:hover .trash-icon {
    opacity: 1;
    color: #ff4444;
}

.user-playlist-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.user-playlist-item:hover {
    background: rgba(255,255,255,0.05);
}
